<!--
// CAPTAIN SLOG
// vim: set expandtab tabstop=4 shiftwidth=4 autoindent smartindent:
// File         : asset-detail.component.html 
// System       : ng2-C3I 
// Date         : June  2016
// Author       : Mark Addinall
// Synopsis     : This system is the clone of C3I using newer technology.
//                Although C3I is using VERY up to date tools and design
//                coding concepts, this takes R&D a step further by
//                basing the architecture of this version around
//                Angular2 and Bootstrap4.
//
//
-->

<div *ngIf="asset">
  <h2>{{asset.name}} description</h2>
  <div>
    <label>id: </label>{{asset.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="asset.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Back</button>
</div>

