<!--
// CAPTAIN SLOG
// vim: set expandtab tabstop=4 shiftwidth=4 autoindent smartindent:
// File         : assets.componetnts.html 
// System       : ng2-C3I 
// Date         : June  2016
// Author       : Mark Addinall
// Synopsis     : This system is the clone of C3I using newer technology.
//                Although C3I is using VERY up to date tools and design
//                coding concepts, this takes R&D a step further by
//                basing the architecture of this version around
//                Angular2 and Bootstrap4.
//
-->

<h2>Asset List</h2>
<ul class="assets">
  <li *ngFor="let asset of assets"
    [class.selected]="asset === selectedAsset"
    (click)="onSelect(asset)">
    <span class="badge">{{asset.id}}</span> {{asset.name}}
  </li>
</ul>
<div *ngIf="selectedAsset">
  <h2>
    {{selectedAsset.name | uppercase}} asset needs attention
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

